In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import os

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,100,US,2022-03-27 03:57:31,71,42.0970,-79.2353,30.02,10.36
1,1,Hilo,40,US,2022-03-27 03:59:20,97,19.7297,-155.0900,73.26,1.01
2,2,Mataura,0,NZ,2022-03-27 04:01:12,50,-46.1927,168.8643,69.48,3.22
3,3,Kadipaten,71,ID,2022-03-27 04:01:13,63,-8.1357,113.2158,86.29,3.65
4,4,Ushuaia,100,AR,2022-03-27 04:00:12,99,-54.8000,-68.3000,39.94,5.23

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 65

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,4,Ushuaia,100,AR,2022-03-27 04:00:12,99,-54.8000,-68.3000,39.94,5.23
6,6,Castro,36,BR,2022-03-27 04:01:15,95,-24.7911,-50.0119,59.99,2.21
9,9,Cape Town,56,ZA,2022-03-27 04:00:06,77,-33.9258,18.4232,62.11,4.38
10,10,Pingzhuang,0,CN,2022-03-27 04:01:17,14,42.0372,119.2889,43.77,20.69
11,11,Peniche,10,PT,2022-03-27 04:01:02,82,39.3558,-9.3811,56.93,16.71
12,12,Fukue,25,JP,2022-03-27 04:01:17,71,32.6881,128.8419,57.92,13.02
14,14,Penzance,0,GB,2022-03-27 04:01:18,84,50.1186,-5.5371,48.51,16.91
22,22,Xining,6,CN,2022-03-27 04:00:13,32,36.6167,101.7667,42.80,4.83
25,25,Port Elizabeth,5,ZA,2022-03-27 04:00:17,96,-33.9180,25.5701,61.32,4.45
26,26,Waterbury,100,US,2022-03-27 04:01:22,89,41.5582,-73.0515,41.85,4.61

In [21]:
preferred_cities_df.count()

City_ID       176
City          176
Cloudiness    176
Country       173
Date          176
Humidity      176
Lat           176
Lng           176
Max Temp      176
Wind Speed    176
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Ushuaia      AR     39.94 -54.8000  -68.3000
6           Castro      BR     59.99 -24.7911  -50.0119
9        Cape Town      ZA     62.11 -33.9258   18.4232
10      Pingzhuang      CN     43.77  42.0372  119.2889
11         Peniche      PT     56.93  39.3558   -9.3811
12           Fukue      JP     57.92  32.6881  128.8419
14        Penzance      GB     48.51  50.1186   -5.5371
22          Xining      CN     42.80  36.6167  101.7667
25  Port Elizabeth      ZA     61.32 -33.9180   25.5701
26       Waterbury      US     41.85  41.5582  -73.0515

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Ushuaia,AR,39.94,-54.8000,-68.3000,Albatross Hotel
6,Castro,BR,59.99,-24.7911,-50.0119,CHACARA BAILLY
9,Cape Town,ZA,62.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
10,Pingzhuang,CN,43.77,42.0372,119.2889,Haoke Guest House
11,Peniche,PT,56.93,39.3558,-9.3811,Hotel Star inn Peniche
12,Fukue,JP,57.92,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
14,Penzance,GB,48.51,50.1186,-5.5371,Artist Residence Penzance
22,Xining,CN,42.80,36.6167,101.7667,Super Leisure Hotel
25,Port Elizabeth,ZA,61.32,-33.9180,25.5701,39 On Nile Guest House
26,Waterbury,US,41.85,41.5582,-73.0515,Courtyard by Marriott Waterbury Downtown

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))